[user]
  name = Markus Kurde
  email = markus.kurde@trivago.com

[alias]
  # svn-like shortcuts for common commands
  st = status
  ci = commit
  co = checkout
  br = branch
  df = diff
  cp = cherry-pick
  fa = fetch --all
  fu = fetch upstream
  rum = rebase upstream/master
  mum = merge upstream/master

  pom = push origin master

  com = checkout master

  # view status using short format
  s = status -s

  # pretty logging with branches and everything!
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  logp = log -p

  # verbose outputs
  branches = branch -av
  tags = tag -l
  remotes = remote -v

  # List contributors with number of commits
  contributors = shortlog --summary --numbered

  # git squash n | Merged the last n commits into one
  squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
	ac = !git add -A && git commit -m

[core]

  # Use custom `.gitignore` and `.gitattributes`
	excludesfile = /Users/mkurde/.gitignore_global
  attributesfile = ~/.gitattributes

  # Make `git rebase` safer on OS X
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false
  autocrlf = input
  pager = diff-so-fancy | less --tabs=4 -RFX

  # set vim as default editor
  # editor = vim

# Enforce SSH
[url "ssh://git@github.com/trivago"]
  insteadOf = https://github.com/trivago

[push]
  # Use the Git 1.x.x default to avoid errors on machines with old Git
  # installations. To use `simple` instead, add this to your `~/.extra` file:
  # `git config --global push.default simple`. See http://git.io/mMah-w.
  # default = matching
  default = simple

[merge]
  # Include summaries of merged commits in newly created merge commit messages
  log = true
  ff = only
  #tool = diffmerge

[diff]
  #tool = diffmerge

[mergetool]
  #keepBackup = false

[svn]
  rmdir = true

[color]
  # Use colors in Git commands that are capable of colored output when
  # outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
  ui = true

  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = 11
  frag = magenta bold
  old = red bold
  new = green bold
  commit = yellow bold
  whitespace = red reverse

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

# difftool "diffmerge" (osx)
[difftool "diffmerge"]
  cmd = /Applications/DiffMerge.app/Contents/Resources/diffmerge $LOCAL $REMOTE

[mergetool "diffmerge"]
  cmd = /Applications/DiffMerge.app/Contents/Resources/diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[gpg]
  program = gpg

[commit]
  verbose = true

[pull]
  ff = only

#[pager]
#  diff = delta
#  log = delta
#  reflog = delta
#  show = delta
#[delta]
#  plus-style = "syntax #012800"
#  minus-style = "syntax #340001"
#  syntax-theme = Monokai Extended
#  navigate = true
#[interactive]
#  diffFilter = delta --color-only
